/*ref:
    -https://docs.oracle.com/javafx/2/css_tutorial/jfxpub-css_tutorial.htm#BJEJGIGC
    -https://guigarage.com/2015/11/styling-a-javafx-scrollbar/
    -https://dx.dragan.ba/javafx-tabpane-custom-css/
 */

/*Color theme*/
.ap, .scroll-pane,
.menu-bar, .menu-item, .menu,
.scroll-bar,
.label, .tf {
    -fx-background-color: #414141;
}

.thumb {
    -fx-background-color: #AAAAAA;
}

.menu-button, .menu-item,
.label {
    -fx-text-fill: #AAAAAA;
}

.tf > Text {
    -fx-fill: #AAAAAA
}

.tab-pane {
    -fx-primary-color: #414141;
    -fx-secondary-color: #AAAAAA;
}

.tab-pane .tab-header-area .tab-header-background, .tab {
    -fx-background-color: -fx-primary-color;
    -fx-focus-color: -fx-primary-color;
}

.tab .tab-label {
    -fx-text-fill: -fx-secondary-color;
}


/*Menu management*/
.menu-item {
    /*TODO*/
}

.menu-bar, .menu-item, .split-menu-button, .menu, .menu-button:hover {
    -fx-opacity: 100;
}

.menu-button, .menu-item {
    -fx-font-weight: normal;
}

.menu-button:hover, .menu-item:hover {
    -fx-font-weight: bold;
}

#m-user .label {
    -fx-text-fill: green;
}

/*Tab management*/
.tab .tab-label:hover {
    -fx-font-weight: bold;
}
