/*General Theme*/

.ap,
.tab-pane, .tab,
.menu, .menu-bar, .menu-item,
.scroll-pane, .scroll-bar,
.label {
    -fx-background-color: #414141;
}

.menu-item,
.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: normal;
}

.label:hover {
    -fx-font-weight: bold;
}

.scroll-bar .thumb {
    -fx-background-color: #AAAAAA;
}

#ap-main {
}

#mb {

}

#m-user .label {
    -fx-font-weight: bold;
    -fx-text-fill: green;
}

#mi-change {

}

#mi-disconnect {

}

#mi-delete {

}

#tp-main {
    -fx-background-color: #414141;

}

#t-home {

}

#t-collections {

}

#t-manage {

}

#t-logs {

}

#tf-logs {

}

#l-mods {

}

#lv-mods {

}

#lv-mod {

}

#tf-mod {

}

#imv-mod {

}

#l-games {

}

#cmb-games {

}

#imv-game {

}